/* styles.css */
body {
    background-image: url(images/protein.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  img {
    width: 300px;
  }